<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">

	<resultMap type="com.kh.shop.vo.ItemVO" id="itemAndImage">
		<id column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="ITEM_PRICE" property="itemPrice"/>
		<result column="ITEM_DETAIL" property="itemDetail"/>
		<result column="ITEM_STOCK" property="itemStock"/>
		<result column="CATE_CODE" property="cateCode"/>
		<collection property="imageList" resultMap="image"/>
	</resultMap>

	<resultMap type="com.kh.shop.vo.ItemVO" id="item">
		<id column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="ITEM_PRICE" property="itemPrice"/>
		<result column="ITEM_DETAIL" property="itemDetail"/>
		<result column="ITEM_STOCK" property="itemStock"/>
		<result column="CATE_CODE" property="cateCode"/>
		<result column="ATTACHED_IMG_NAME" property="attachedImgName"/>
	</resultMap>
	
	<insert id="insertItem">
		INSERT INTO SHOP_ITEM (
			ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ITEM_DETAIL
			, CATE_CODE
		) VALUES (
			(SELECT 'ITEM_' || LPAD(NVL(TO_NUMBER(MAX(SUBSTR(ITEM_CODE, 6, 3))), 0) + 1, 3, 0) FROM SHOP_ITEM)
			, #{itemName}
			, #{itemPrice}
			, #{itemDetail}
			, #{cateCode}
		)
	</insert>
	
	<select id="countItem" resultType="int" parameterType="String">
		SELECT COUNT(*) 
		FROM SHOP_ITEM
		<if test="_parameter != null and _parameter != ''">
		WHERE CATE_CODE = #{cateType}
		</if>
	</select>
	
	<select id="selectItemListPaging" resultMap="item">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT ITEM.ITEM_CODE
							, ITEM.ITEM_NAME
							, ITEM.ITEM_PRICE
							, ITEM.ITEM_DETAIL
							, ITEM.ITEM_STOCK
							, ITEM.CATE_CODE
							, IMG.ATTACHED_IMG_NAME
						FROM SHOP_ITEM ITEM LEFT OUTER JOIN ITEM_IMAGE IMG
						ON ITEM.ITEM_CODE = IMG.ITEM_CODE
						WHERE (IMG.IS_MAIN IS NULL OR IMG.IS_MAIN = 'Y')
						<if test="cateType != null and cateType != ''">
							AND ITEM.CATE_CODE = #{cateType}
						</if>
						ORDER BY ITEM.ITEM_CODE DESC 
						) A
				WHERE ROWNUM &lt;= #{end}
				)
		WHERE RN &gt;= #{start}
	</select>
	
	<select id="selectItemList" resultMap="item" parameterType="String">
		SELECT ITEM.ITEM_CODE
			, ITEM.ITEM_NAME
			, ITEM.ITEM_PRICE
			, ITEM.ITEM_DETAIL
			, ITEM.ITEM_STOCK
			, ITEM.CATE_CODE
			, IMG.ATTACHED_IMG_NAME
		FROM SHOP_ITEM ITEM LEFT OUTER JOIN ITEM_IMAGE IMG
		ON ITEM.ITEM_CODE = IMG.ITEM_CODE
		WHERE (IMG.IS_MAIN IS NULL OR IMG.IS_MAIN = 'Y')
		<if test="_parameter != null and _parameter != ''">
			AND ITEM.CATE_CODE = #{cateType}
		</if>
		ORDER BY ITEM.ITEM_CODE DESC
	</select>
		
	<select id="selectItemOne" resultMap="item">
		SELECT ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ITEM_DETAIL
			, ITEM_STOCK
			, CATE_CODE
		FROM SHOP_ITEM
		WHERE ITEM_CODE = #{itemCode}
	</select>
		
	<select id="selectItemDetail" resultMap="itemAndImage">
		SELECT ITEM.ITEM_CODE
			, ITEM.ITEM_NAME
			, ITEM.ITEM_PRICE
			, ITEM.ITEM_DETAIL
			, ITEM.ITEM_STOCK
			, ITEM.CATE_CODE
			, IMG.ATTACHED_IMG_NAME
			, IMG.IS_MAIN
		FROM SHOP_ITEM ITEM LEFT OUTER JOIN ITEM_IMAGE IMG
		ON ITEM.ITEM_CODE = IMG.ITEM_CODE
		WHERE ITEM.ITEM_CODE = #{itemCode}
	</select>

	<resultMap type="com.kh.shop.vo.CategoryVO" id="category">
		<id column="CATE_CODE" property="cateCode"/>
		<result column="CATE_NAME" property="cateName"/>
	</resultMap>
	
	<select id="selectCategoryList" resultMap="category">
		SELECT CATE_CODE
			, CATE_NAME
		FROM ITEM_CATEGORY
	</select>
	
	<resultMap type="com.kh.shop.vo.ImageVO" id="image">
		<id column="IMG_CODE" property="imgCode"/>
		<result column="ORIGIN_IMG_NAME" property="originImgName"/>
		<result column="ATTACHED_IMG_NAME" property="attachedImgName"/>
		<result column="IS_MAIN" property="isMain"/>
		<result column="ITEM_CODE" property="itemCode"/>
	</resultMap>
	
	<insert id="insertImages">
		INSERT INTO ITEM_IMAGE (
			IMG_CODE
			, ORIGIN_IMG_NAME
			, ATTACHED_IMG_NAME
			, IS_MAIN
			, ITEM_CODE
		)
		<foreach collection="imgList" item="img" index="i" separator="UNION ALL">
		SELECT (SELECT 'IMG_' || LPAD(NVL(TO_NUMBER(MAX(SUBSTR(IMG_CODE, 6, 3))), 0) + #{i} + 1, 3, 0) FROM ITEM_IMAGE)
			, #{img.originImgName}
			, #{img.attachedImgName}
			, #{img.isMain}
			, (SELECT MAX(ITEM_CODE) FROM SHOP_ITEM)
		FROM DUAL
		</foreach>
	</insert>
	
	<select id="selectItemImages" resultMap="image">
		SELECT IMG_CODE
			, ATTACHED_IMG_NAME
			, IS_MAIN
		FROM ITEM_IMAGE
		WHERE ITEM_CODE = #{itemCode}
	</select>
	
</mapper>












